[Unit]
Description=trmc2d temperature daemon for controlling the TRMC2
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/trmc2d
Restart=always

[Install]
WantedBy=multi-user.target
